.gitignore
.idea/
Individ1/
Individ2/
JFLAP.jar
Lab3_Sorochin_Nichita.zip
Midterm 2/
Sorochin_Nichita_FAF191_Lab3_Var_14.pdf
a.png
a1.png
c.docx
f.txt
individ1-2.jff
individ_1.jff
Lab1/var.txt
Lab4-original